@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
* {
  box-sizing: border-box;
}

.results {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
/*Total card*/
.result_card {
  position: relative;
  display: block;
  width: 800px;
  height: 350px;
  margin: 80px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
  margin-top: 3rem;
}
.result_card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}
/*Card info*/
.result_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
/*Card header*/
.result_card .info_section .result_header {
  position: relative;
  padding: 23px;
  height: 40%;
}
.result_card .info_section .result_header h1 a{
  color: black;
  font-weight: 400;
  font-size: 1.7rem;
}
.result_card .info_section .result_header h1 a:hover{
  color: #e94343; 
  
}
.result_card .info_section .result_header button h4 button {
  color: #555;
  font-weight: 400;
  max-height: 50px;
  
}


.result_card .info_section .result_header .hour {
  display: inline-block;
  margin-top: 1px;
  color: #555;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.result_card .info_section .result_header .type {
  display: inline-block;
  color: #959595;
  margin-top: 9px;
}
/*Card photos*/
.result_card .info_section .result_header .result_photo {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  width: 170px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}
.result_card .info_section .result_desc {
  padding: 25px;
  height: 50%;
}
.result_card .info_section .result_desc .text {
  color: #545454;
}
.counts{
  margin-top: 0.6rem;
}
/*Card social*/
.result_card .info_section .result_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}
.result_card .info_section .result_social ul {
  list-style: none;
  padding: 0;
}
.result_card .info_section .result_social ul li {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
/*Card buttons*/
.result_card .info_section .result_social ul li .btn_like_visit {
  color: rgba(0, 0, 0, 0.3);
  background: none;
  border: none;
}
.result_card .info_section .result_social ul li .btn_like_visit:hover {
  transition: color 0.3s;
  color: rgba(0, 0, 0, 0.7);
}
.result_card .info_section .result_social ul li .btn_like_visit i {
  font-size: 19px;
  cursor: pointer;
}
/*Blur background photo*/
.result_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}
/*Button change colors*/
.btn_like_visit:focus {outline:0;}
.result_card .info_section .result_social ul li .btn_like_visit.active {
  color: #e94343; 
}
.result_card .info_section .result_social ul li .btn_like_visit.active_visit {
  color: #4386e9; 
}

.btn_like_visit.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .result_header {
    width: 65%;
  }
  .result_desc {
    width: 50%;
  }
  .info_section {
    background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
  }
  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}
@media screen and (max-width: 768px) {
  .result_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }
  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }
  .result_header {
    width: 100%;
    margin-top: 5px;
    text-align: center;
  }
  .result_card .info_section .result_header .result_photo {
    float: none;
    margin:auto; 
    
}
  .result_desc {
    width: 100%;
  }
  .info_section {
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    display: inline-grid;
  }
}



