ul{
  list-style: none;
}
.explore-body{
  height: 100%;
  min-height: 100vh;
    /* Background styles */
  background-image: linear-gradient(rgba(224, 105, 105, 0.5),rgba(226, 139, 117, 0.692)), url('../../assets/images/costaricamap2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.filters-container{
  padding-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  border-radius: 10px;
}

.filters-container h5{
  margin-right: 1rem;
}


/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


.filters-container .first{
  margin-right: 0.8rem;
}

.cards{
  padding-top:1rem ;
  
}
/* Add a dark background to the active button */
.active {
  background-color: #e94343; ;
  color: white;
}



