* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-container {
  position: fixed;
  top: 0px;
  width: 100%;
  color: #fff;
  background-color: #e94343;  /* Red */
  padding: 20px 0;
  display: flex;
  justify-content: center;    /* Add this */
  z-index: 100000;
}

.menu {
  /* border: 1px solid #fff; */
  width: 900px;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu__name{
  font-size: 1.5rem;
}

.signup, .login{
	
  border-radius: 2px;
  padding-left: 12px;
  padding-right: 12px;
}

.buton_logout{
  border: none;
  outline: none;
  background-color: #e94343;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login {
  margin-left: 20px;
}

ul{
  list-style: none;
}
:link,.buton_logout {
  text-decoration: none;
  transition: color .3s ease;

}
:link, :visited,.buton_logout {
  color:white;
  text-decoration: none;
  font-size: 1.12rem;
}
.links :hover,.buton_logout :hover{
  color: rgb(245, 196, 106);
  cursor: pointer;
}
.name:hover{
  color: white;
  cursor: default;
}
.name{
  font-size: 1.1rem;
}