@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
.wrap{
	height: 100vh;
	width: 100vw;
}
.form{
  
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 18px;
	width: 100vw;
	height: 100vh;
}

.body_login{
	position: absolute;
	top: -0px;
	left: -0px;
	right: -0px;
	bottom: -30px;
	width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(224, 105, 105, 0.5),rgba(226, 139, 117, 0.692)), url('https://www.cheapcaribbean.com/content/dam/CR_GUA_Main1_Beach_Cropped.jpg');
  /*background-image: url(https://www.cheapcaribbean.com/content/dam/CR_GUA_Main1_Beach_Cropped.jpg);*/
	background-size: cover;
	
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: 100%;
  height: 100%;
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 2.18rem;
  font-weight: 300;
  
}

.header div span{
	color: #e94343 !important;
}

.login_form{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 9.37rem;
	width: 21.87rem;
	padding: 0.62rem;
	z-index: 2;
}

.login_form input[type=text], .login_form input[type=password]{
	width: 15.62rem;
	height: 1.87rem;
	background: transparent;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	padding: 4px;
}

.login_form input[type=password]{
  margin-top: 10px;
  margin-bottom: 10px;
}

.login_form input[type=button]{
	width: 15.62rem;
	height: 2.18rem;
  background: #e94343;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login_form input[type=button]:hover{
	opacity: 0.8;
}

.login_form input[type=button]:active{
	opacity: 0.6;
}

.login_form input[type=text]:focus{
	outline: none;
	border: 1px solid rgb(255, 255, 255);
}

.login_form input[type=password]:focus{
	outline: none;
	border: 1px solid rgb(255, 255, 255);
}

.login_form input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}